#myCanvas {
  border: 3px solid black
}
#button-container {
  margin-left: 175px;
}
#start {
  background-color: green;
}
#end {
  background-color: red;
}
button {
  width: 50px;
  height: 20px;
  border-radius: 10px;
}
